@page "/breeds"
@inject HttpClient Http

<h3>Cat Breeds</h3>

@* <button class="btn btn-primary" @onclick="GetDataAsync">Click to search for cats!</button>*@

<button class="btn btn-primary" @onclick="GetDataAsync">Click for Cat data!</button>




<div>
    Name:
</div>


}


@code {
    



}