@page "/cats"




@inject HttpClient Http
@*@<button class="btn btn-primary" @onclick="showKitty">Click for Cat!</button>*@



@if (data == null)
{
    <p><em>Loading...</em></p> }

else
{


    <h3>Cat</h3> <div><button class="btn btn-primary" @onclick="GetDataAsync">Click for a random Cat!</button></div>
    <img src="@data[0].url" alt="Meow" width="800" height="600" style=" margin:2%">


    
    <div id="CategoryBtn">
        <button class="btn btn-primary" @onclick="Search">Search by Category!</button>
        <input placeholder="Cat Category (1-15)" pattern="[0-9]+" @bind=" catCategory" />
        <p>Current Category: @catCategory</p>

        @if (catCategory < 0 || catCategory > 15)
        {
            <p>Error! You must enter a value between 0 and 15!</p>
        }

    </div>

    
    <div style=" text-align:right">

        <h2>Cat Categories:</h2>

        <b>Cats in Hats: </b>1

        <b>Cats in Space: </b>2

        <b>Cats in GIFs: </b>2

        <b>Cats in Sunglasses: </b>4

        <b>Cats in Boxes: </b>5

        <b>Cats in Ties: </b>7

        <b>Cats in Sinks: </b>14

        <b>Cats in Clothes: </b>15

        <b>Random Cat: </b>0


    </div>



}


@code {


}
