@page "/cats"
@inject HttpClient Http
<!--James Lynam - EAD CA3 - X00073019 - Cat.razor-->
<!--All C# code is present in Cat.cs-->

<html>
<body>
    @if (data == null)
    {
        <p><em>Loading...here kitty...</em></p> }

    else
    {

        <div class="catText">
            <h3>Cat Pictures!</h3>
        </div>


        <div class="pageDescription">
            <p>The purpose of this page is to display cat pictures based on user choice.</p>
            <p>The user can hit the big red button for a random cat picture.</p>
            <p>We can also use the category buttons on the right, or type in a category number below.</p>
        </div>

        <!--Calling async method-->
        <div><button class="bigButton" @onclick="GetDataAsync">Click for a random Cat!</button></div>


        <div style="float:left">
            <!--Extracting first entry in list to display random image, had to enforce a size as some were huge-->
            <img src="@data[0].url" alt="Meow" width="800" height="600" style=" margin:0.3em;">
        </div>



        <div style="width:20%;display:inline-block; margin-left:5em; margin-top:3em">

            <h2>Cat Categories:</h2>

            <!--Calling individual sister methods from Cat.cs-->
            <button class="categoryButton" @onclick="CatsInHats">Cats in Hats</button>

            <button class="categoryButton" @onclick="CatsInSpace">Cats in Space</button>

            <button class="categoryButton" @onclick="CatsInSunglasses">Cats in Sunglasses</button>

            <button class="categoryButton" @onclick="CatsInBoxes">Cats in Boxes</button>

            <button class="categoryButton" @onclick="CatsInTies">Cats in Ties</button>

            <button class="categoryButton" @onclick="CatsInSinks">Cats in Sinks</button>

            <button class="categoryButton" @onclick="CatsInClothes">Cats in Clothes</button>


            <div style="clear:both; margin-top:1em">

                <p>You can also search by category numbers!</p>
                <p>Enter a cat ID!</p>
                <p>1, 2, 4, 5, 7, 14, 15</p>

                <input placeholder="Cat Category" pattern="[0-9]+" @bind=" catCategory" />
                <p>Current Category: @catCategory</p>

                <!--Validation-->
                @if (catCategory == 3 || catCategory == 6 || catCategory == 8 || catCategory == 9 || catCategory == 10 || catCategory == 11 || catCategory == 12 || catCategory == 13)
                {
                    <p>Error! Please enter a valid ID.</p>
                }


            </div>

            <div class="searchButton">
                <button @onclick="Search">Search by Category!</button>
            </div>

        </div>
    }

</body>

<head>
    <!--Styling-->
    <style>
        .bigButton {
            display: inline-block;
            padding: 15px 25px;
            font-size: 24px;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
            outline: none;
            color: #fff;
            background-color: darkred;
            border: none;
            border-radius: 50px;
            margin-bottom: 1em;
        }

        .categoryButton {
            background-color: #008CBA;
            border-radius: 25px;
            margin-bottom: 5px;
            color: #fff;
            border-color: #1861ac;
            width: 10em;
        }

        body {
            background-color: lightgrey;
        }

        .catText {
            background-color: antiquewhite;
            width: 100%;
            padding-bottom: 16px;
            padding-top: 16px;
            border-radius: 25px;
            border: 2px solid black;
        }

        h3 {
            text-align: center;
        }

        .pageDescription {
            margin-top: 1em;
        }

        img {
            border: 2px solid black;
        }
    </style>
</head>


</html>
