@page "/"


<h1>James Lynam - EAD CA3 - X00073019</h1>

<div style=" margin-bottom:2%"> <h2>Hello, welcome to my Cat App!</h2>   </div>


This application is designed to show the user images of cats in a number of different ways!

<input type="button" onclick="location.href='cats';" value="Let's get started..." />